@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.block {
    margin: 30px auto;
    width: 1728px;
    height: 1747px;
    text-align: center;
}

.text h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000000;
}

.top_btn {
    width: 254px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.card_block {
    width: 364px;
    height: 474px;
    background-color: #000;
}

.bag {
    width: 364px;
    height: 199px;
    background-color: #fff;
    border: 1px solid #000;
}

.bag img {
    width: 100px;
    margin-top: 20px;
    object-fit: contain;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}

.card p {
    width: 297px;
    height: 51px;
    color: rgba(255, 255, 255, 0.56);
}

.card h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.items {
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 46px;
    position: relative;
}

.item_text_one {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.item_text_two {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.item_text_three {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.bottom_btn {
    width: 305px;
    height: 55px;
    margin-top: 30px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    transition: .3s ease;
}

.bottom_btn_after {
    width: 305px;
    height: 55px;
    margin-top: 30px;
    background: #1F86FF;
    border: 1px solid #000000;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    transition: .3s ease;
}

.maim_card {
    width: 1530px;
    display: flex;
    align-items: center;
    gap: 21px;
    flex-wrap: wrap;
    margin: 60px auto;
}

.plus {
    width: 364px;
    height: 474px;
    border: 1px solid #000;
    border-radius: 30px;
}

.plus_text {
    text-align: center;
    font-size: 380px;
}

.activeBTN {
    background: red !important;
}

.vector {
    background-image: url(./img/Group\ 7.svg);
    width: 13px;
    height: 13px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -1px;
    left: -10px;
}

.vector-2 {
    background-image: url(./img/Vector\ \(4\).svg);
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -4px;
    left: 80px;
}

.vector-3 {
    background-image: url(./img/Group\ 9.svg);
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -4px;
    left: 160px;
}